/* Home styles */
.home {
  .header-section {
    position: sticky;
    top: 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 2rem 4rem;
    h1{
      font-size: 32px;
      font-weight: 700;
      font-family: $font-secondary;
    }
    .header-button {
        // 동그란 모양의 버튼
        padding: 0.5rem 1rem;
        font-size: 16px;
        font-weight: 700;
        background-color: $primary-color;
        color: #fff;
        border-radius: 100px;
        cursor: pointer;
        transition: all 0.2s ease;
          &:hover {
            // 호버시 백그라운드와 폰트 색상 반전색상으로 변경
            // 애니메이션 추가
            background-color: #fff;
            color: $primary-color;
            transition: all 0.2s ease;
        }
      }
  }
  .top-content-section {
    width: 100%;
    min-height: calc(100vh - 84px); // 헤더 높이(padding 포함)를 뺀 높이
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0; // 상하 여백 추가
    .top-content-wrapper{
      width: 100%;
      max-width: 1200px;
      padding: 0 2rem;
      @media (max-width: 600px) {
        padding: 0 1rem;
      }
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 4rem;
      .top-content-sub-title {
        font-weight: 500;
        color: $secondary-color;
        font-size: 18px;
      }
      .top-content-title{
        font-size: 48px;
        font-weight: 700;
        color: #000;
        text-align: center;
        line-height: 100%;
      }
      .top-content-discription {
        font-size: 20px;
        color: $main-dark;
        text-align: center;
        font-weight: 500;
      }
      .top-content-button {
        // 동그란 모양의 버튼
        padding: 1rem 2rem;
        font-size: 20px;
        background-color: $primary-color;
        border: 1px solid $primary-color;
        color: #fff;
        border-radius: 100px;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          // 호버시 백그라운드와 폰트 색상 반전색상으로 변경
          // 애니메이션 추가
          background-color: #fff;
          color: $primary-color;
          transition: all 0.3s ease;
        }
      }
    }
  }
}